@keyframes toastIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toast {
  position: fixed;
  top: 12rem;
  right: 1rem;
  padding: 1.2rem 2.5rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  z-index: 100;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3);
  animation: toastIn 0.1s ease forwards;

  &.toast-success {
    background-color: #4caf50;
  }

  &.toast-error {
    background-color: #f44336;
  }
}