@use "../../styles/abstracts/global" as *;
@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/normalize" as *;
@use "../../styles/abstracts/variables" as *;

main {
  display: flex;
  flex-direction: column;
  width: 100vw;

  & > .videomobile {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    & > video {
      height: 100%;
    }

    & > a {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    @include tablet {
      display: none;
    }
  }

  & > .videodesktop {
    display: none;

    @include tablet {
      display: flex;
      width: 100%;
      height: auto;
    }
  }

  & > .promotion {
    display: flex;
    flex-direction: column;
    width: 100%;

    & > img {
      width: 100%;
    }

    & > .infos {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      & > h2 {
        text-align: center;
      }

      & > p {
        text-align: center;
        padding: 0 1rem;
      }

      & > .prices-button {
        background: #242424;
        width: 75%;
        text-align: center;
        color: #F8F8F8;
        padding: 1rem;
        margin: 2rem 0;
        border-radius: 1rem;
        font-size: 2rem;
        box-shadow: 2px 5px 8px rgba(#0000, 0.4);
      }
    }

    @include desktop {
      display: flex;
      flex-direction: row;

      & > .infos {
        & > .prices-button {
          width: 50%;
        }
      }

    }
  }

  & .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: fit-content;

    & .car {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 90%;
      margin: 1rem 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6rem;
        margin: 0;
        font-weight: bold;
        width: 100%;
        text-align: center;
        background: rgba(#404040, 0.6);
      }
    }

    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      padding: 1rem;

      & .car {
         p {
           font-size: 3.5rem;
         }
      }
    }
  }
}