@use "../../styles/abstracts/global" as *;
@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/normalize" as *;
@use "../../styles/abstracts/variables" as *;

.open-alert {
  font-size: 1.8rem;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 1px solid rgba(#ff0000, 0.4);
  color: rgba(#ff0000, 0.7);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-color: #ff0000;
    color: #ff0000;
    background: rgba(#ff0000, 0.05);
  }
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 44, 44, 0.7);
  z-index: 200;

  & > div {
    position: absolute;
    top: 0.5rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1rem);
    width: 100vw;
    padding: 4rem;
    border-radius: 2rem;
    text-align: center;
    color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & > button {
      border: none;
    }

    @include tablet {
      width: 30vw;
    }
  }
}